@import '~antd/dist/antd.css';
$dark: black;
$light: #e3b905 ;

.bg-body {
  background: (url(../public/pong.jpg));
  background-position: center;
  background-attachment: fixed;
  //height: 100vh;
  //background-size: cover;
}

.opening-bg {
  background: (url(../public/pub.jpg));
  height: 100vh;
  background-size: cover;
}

.custom-card {
  border-radius: 100px 32px 101px 32px;
  border: $dark 2px solid;
  box-shadow: 4px 4px 14px 10px rgba(0, 0, 0, 0.49);
}

.ant-slider {
  &-track {
    background-color: $dark;
  }
  &-handle {
    border: solid 2px $light;
    &-click-focuse {
      color: pink;
    }
    }
}
$font-family-sans-serif: "UnifrakturMaguntia", cursive;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
