@import '~antd/dist/antd.css';
$dark: black;
$light: #e3b905 ;

.bg-body {
  background: (url(../public/pong.jpg));
  background-position: center;
  background-attachment: fixed;
  //height: 100vh;
  //background-size: cover;
}

.opening-bg {
  background: (url(../public/pub.jpg));
  height: 100vh;
  background-size: cover;
}

.custom-card {
  border-radius: 100px 32px 101px 32px;
  border: $dark 2px solid;
  box-shadow: 4px 4px 14px 10px rgba(0, 0, 0, 0.49);
  background-color: #facc01b0;
}

.filter-card {
  border-radius: 40px;
  border: rgba(245, 245, 245, 0.555) 2px solid;
  background-color: rgba(245, 245, 245, 0.555);
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  outline: none;
}

.pagination>.active>a {
  background-color: $light;
}

.pagination>li>a {
  border: 1px solid $dark;
  padding: 15px 15px;
  outline: none;
  cursor: pointer;
}

.pagination>li>a,
.pagination>li>span {
  color: white;
  background-color: $dark;
}

.ant-slider {
  &-track {
    background-color: $dark;
  }
  &-handle {
    border: solid 2px $light;
    }
}
$font-family-sans-serif: "UnifrakturMaguntia", cursive;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
